{% extends 'layout.twig' %}

{% block body %}
  <header>
    <h1>{{title}}</h1>
  </header>
  <nav>
    <a href="{{iruser}}">Login</a>
    <a href="#">{{user}}</a>
  </nav>
  <p>Bienvenido a la tienda de {{title}}</p>
  <div class="container">
    <div class="catalogo"></div>
  </div>
  <script src="javascripts/script.js"></script>
{% endblock %}
