{% extends 'layoutLogin.twig' %}

{% block body %}
<header>
    <h1>Login</h1>
</header>
<nav>
    <a href="{{ir}}">Crear usuario</a>
    <a href="{{volver}}">Volver</a>
    <br>
    <a href="{{irAdm}}">Ingresar como Administrador</a>
</nav>
{% endblock %}