{% extends 'layoutLogin.twig' %}

{% block body %}
<header>
    <h1>Crear usuario</h1>
</header>
<nav>
    <a href="{{volver}}">Volver</a>
</nav>
<div class="container">
    <div class="contentForm">
        <h2>Ingrese su información</h2>
        <form id="productForm">
            <label for="productName">Nombre de usuario:</label>
            <input type="text" id="productName" name="productName" required>

            <label for="stock">Contraseña:</label>
            <input type="text" id="stock" name="stock" required>

            <label for="arrivalDate">Email:</label>
            <input type="text" id="arrivalDate" name="arrivalDate" required>

            <select name="rol" id="rol">
                <option value="1">Administrador</option>
                <option value="0">Cliente</option>
            </select>

            <button type="button" onclick="saveUser()">Registrar usuario</button>
        </form>
    </div>
</div>
<script src="/javascripts/scriptUser.js"></script>
{% endblock %}